body {
	padding: 10px;
	font-family: Verdana;
	font-size: 14px;
	background: #999999;
}

h1 {
	margin: 0 0 1em 0;
	font-size: 1.3em;
}

div.file {
	background: #ffffff;
	padding: 10;
	margin-top: 1em;
}

h2 {
	margin: 0 0 1em 0;
	font-size: 1.1em;
}

.part {
	margin: 1em 0;
}

.part:first-child {
	margin-top: 0;
}

.part:last-child {
	margin-bottom: 0;
}

.evidence, .function {
	background: #dddddd;
	font-family: courier;
	padding: 10px;
	margin: 1em 0;
}

.count {
    position: absolute;
    right: 1.5em;
    top: 0.5em;
}
